{% extends 'base.html' %} {% block content %} {% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %} {% if name %}
<table class="table align-middle table-hover table-bordered table-striped">
    <!-- <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
    </tr>    
    </thead> -->
    {% for user in our_users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
    </tr>

    {% endfor %}
</table>

{% else %}
<h1>Update User</h1>
<br />
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label( class="form-label" ) }} {{ form.name( class="form-control", value=name_to_update.name ) }} <br>
        {{ form.email.label( class="form-label" ) }} {{ form.email( class="form-control", value=name_to_update.email ) }} <br>
        {{ form.submit( class="btn btn-secondary" ) }}
    </form>
</div>
<br><br><br>

<table class="table align-middle table-hover table-bordered table-striped text">
    <!-- <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
    </tr>    
    </thead> -->
    {% for user in our_users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
    </tr>

    {% endfor %}
</table>
{% endif %} {% endblock %}